/* Apply custom styles to the buttonMenu class */
.buttonMenu {
    -fx-background-color: #111315;
}

/* Apply custom styles for the hover state using the myButton ID */
.buttonMenu:hover {
    -fx-background-color: #292C2D;
}

.imageviewShadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 2);
}

.containerColor {
    -fx-background-color: #99C8E2;
    -fx-background-radius: 10px;
}

.containerColorFD {
    -fx-background-color: #B6B7F1;
    -fx-background-radius: 10px;
}

.containerColorRM {
    -fx-background-color: #DFC3CD;
    -fx-background-radius: 10px;
}

.scroll-pane .viewport {
    -fx-background-color: #111315;
    -fx-border-color: #111315;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.receiptButton {
    -fx-background-color: #111315;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.receiptButton:hover {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-text-fill: #111315;
}

.boldText {
    -fx-font-weight: bold;
}

