/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 6, 2023, 10:44:02 PM
    Author     : John Paul Uy
*/
.anchorPaneBG {
    -fx-background-color:  #111315;
    -fx-background-radius: 5px;
}

.buttonPink:hover {
    -fx-background-color: #DE5D83;
}

.CRUDPaneBG {
    -fx-background-color:  gray;
}

.buttonNavigation {
    -fx-background-color: transparent;
    -fx-background-radius: 10px; /* Set the background radius */
    -fx-border-color: transparent;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.buttonActions {
    -fx-background-color: #111315;
}
.buttonActions:hover {
    -fx-background-color: #292C2D;
}
.asalesReportbutton {
    -fx-background-color:  #FFB6C1;
    -fx-background-radius: 10px;
}

.employeeButton {
    -fx-background-color:  #111315;
    -fx-border-color: #ffffff;
    -fx-background-radius: 10px;
}


.pink {
    -fx-background-color: rgba(213,127,127,1);
    -fx-background-radius: 10;
    -fx-min-width: 207;
    -fx-min-width: 207;
    -fx-min-height: 72;
    -fx-min-height: 72;
    -fx-border-radius: 10;
    -fx-border-color: #A4A4A4;
    -fx-border-width: 2;
}