/* Apply custom styles to the buttonMenu class */
.buttonMenu {
    -fx-background-color: #111315;
}

/* Apply custom styles for the hover state using the myButton ID */
.buttonMenu:hover {
    -fx-background-color: #292C2D;
}

/* Remove padding for the entire GridPane */
.grid-pane {
    -fx-hgap: 0; /* Set horizontal gap to zero */
    -fx-vgap: 0; /* Set vertical gap to zero */
}

/* Remove padding for individual cells in the GridPane */
.grid-pane .card {
    -fx-margin: -5; /* Set a negative margin to reduce spacing; adjust as needed */
}

.panedesign {
    -fx-padding: 60px;
    -fx-background-radius: 10px;
}

#line {
    -fx-stroke-dash-array: 5 5; /* 5px dash, 5px gap */
    -fx-stroke-dash-offset: 2.5;
}

.panedesign .left-border {
    -fx-border-style: dotted;
    -fx-border-width: 2px;
    -fx-border-color: #4E4D55;
    -fx-border-insets: 0 0 0 2px; /* Insets: top right bottom left */
}


.receiptdesign {
    -fx-border-style: dotted;
    -fx-border-width: 2px;
    -fx-border-color: #D9D9D9;
}

.imageviewShadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 2);
}

.containerColorMT {
    -fx-background-color: #D68383;
    -fx-background-radius: 10px;
}

.containerColorFD {
    -fx-background-color: #798BBA;
    -fx-background-radius: 10px;
}

.containerColorFR {
    -fx-background-color: #77B77F;
    -fx-background-radius: 10px;
}

.containerColorCF {
    -fx-background-color: #B0814B;
    -fx-background-radius: 10px;
}

.containerColorRM {
    -fx-background-color: #8C8989;
    -fx-background-radius: 10px;
}

.containerColorSN {
    -fx-background-color: #D7C66E;
    -fx-background-radius: 10px;
}

.containerColorEX {
    -fx-background-color: #54B885;
    -fx-background-radius: 10px;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent; /* Set the viewport background to transparent */
    -fx-border-color: transparent; /* Set the border color to transparent */
}

.receiptButton {
    -fx-background-color: #111315;
    -fx-border-color: white;

}

.receiptButton:hover {
    -fx-background-color: #505180;
    -fx-border-color: white;
    -fx-text-fill: #111315;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.boldText {
    -fx-font-weight: bold;
}

.selected-button {
    -fx-background-color: #292C2D;
}

.card {
    -fx-background-color: rgba(30, 30, 30, 0.6);
    -fx-background-radius: 12px;
    -fx-border-color: rgba(255, 255, 255, 0.125);
    -fx-border-width: 1px;

    /* Increased blur */
}

.table-view .column-header {
    -fx-background-color: #D9D9D9;
}

.tablevReceipt {
    
}
