/* Apply custom styles to the buttonMenu class */
.buttonMenu {
    -fx-background-color: #111315;
}

/* Apply custom styles for the hover state using the myButton ID */
.buttonMenu:hover {
    -fx-background-color: #292C2D;
}

/* Remove padding for the entire GridPane */
.grid-pane {
    -fx-hgap: 0; /* Set horizontal gap to zero */
    -fx-vgap: 0; /* Set vertical gap to zero */
}

/* Remove padding for individual cells in the GridPane */
.grid-pane .card {
    -fx-margin: -5; /* Set a negative margin to reduce spacing; adjust as needed */
}

.panedesign {
    -fx-padding: 60px;
    -fx-border-style: dotted;
    -fx-border-width: 2px;
    -fx-border-color: #4E4D55;
    -fx-background-radius: 10px;
}

.imageviewShadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 2);
}

.containerColor {
    -fx-background-color: #99C8E2;
    -fx-background-radius: 10px;
}

.containerColorFD {
    -fx-background-color: #B6B7F1;
    -fx-background-radius: 10px;
}

.containerColorRM {
    -fx-background-color: #DFC3CD;
    -fx-background-radius: 10px;
}

.scroll-pane .scroll-pane-content {
    -fx-padding: 0 0 0 0;
}

.scroll-pane .viewport {
    -fx-background-color: #111315;
    -fx-border-color: #111315;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.receiptButton {
    -fx-background-color: #111315;
    -fx-border-color: white;

}

.receiptButton:hover {
    -fx-background-color: #505180;
    -fx-border-color: white;
    -fx-text-fill: #111315;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.boldText {
    -fx-font-weight: bold;
}

.selected-button {
    -fx-background-color: #292C2D;
}

.card {
    -fx-background-color: rgba(30, 30, 30, 0.6);
    -fx-background-radius: 12px;
    -fx-border-color: rgba(255, 255, 255, 0.125);
    -fx-border-width: 1px;

    /* Increased blur */
}
