/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 6, 2023, 10:35:56 PM
    Author     : John Paul Uy
*/

.anchorPaneBG {
    -fx-background-color: #111315;
    -fx-background-radius: 5px;
}

.PaneButton {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent; /* Set the viewport background to transparent */
    -fx-border-color: transparent; /* Set the border color to transparent */
}

.kitchenCard {
    -fx-background-color: #A4A4A4;
    -fx-background-radius: 5px;
}

.orderCard {
    -fx-background-color: #A4A4A4;
}

.comboboxStyle .list-cell {
    -fx-background-color: white;
}

.comboboxStyle .list-cell:selected {
    -fx-background-color: green;
}


