/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 4, 2023, 10:57:29 PM
    Author     : John Paul Uy
*/

.anchorPaneBG {
    -fx-background-color:  #111315;
    -fx-background-radius: 5px;
}

/* Apply custom styles to the buttonMenu class */
.buttonMenu {
    -fx-background-color: #111315;
}

/* Apply custom styles for the hover state using the myButton ID */
.buttonMenu:hover {
    -fx-background-color: #292C2D;
}

.imageviewShadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 2);
}

.containerColor {
    -fx-background-color: #99C8E2;
    -fx-background-radius: 10px;
}

.scroll-pane .viewport {
    -fx-background-color: #111315;
    -fx-border-color: #111315;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.pinButton {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 0, 4, 0, 0);
    -fx-background-insets: 1; /* Adjust the border thickness */
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1px;
    -fx-background-blur: 5px;
}

.pinButton:hover {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-text-fill: #111315;
}

.deleteButton {
    -fx-text-fill: white;
    -fx-background-color: rgba(78, 77, 85, 0.2);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 0, 4, 0, 0);
    -fx-background-insets: 1; /* Adjust the border thickness */
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1px;
    -fx-background-blur: 5px;
}

.deleteButton:hover {
    -fx-background-color: #EB8AB3;
    -fx-border-color: #EB8AB3;
    -fx-text-fill: #111315;
}

.enterButton {
    -fx-text-fill: white;
    -fx-background-color: rgba(78, 77, 85, 0.2);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 0, 4, 0, 0);
    -fx-background-insets: 1; /* Adjust the border thickness */
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1px;
    -fx-background-blur: 5px;
}

.enterButton:hover {
    -fx-background-color: #44AF3C;
    -fx-border-color: #44AF3C;
    -fx-text-fill: #111315;
}
